* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: normal;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

img {
    margin-bottom: 20px;
}