a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

nav {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav li {
    margin-right: 20px;
}

nav a {
    font-size: 18px;
}

li a:hover {
    color: rgb(177, 15, 15);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(243, 236, 236);
}