<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base_css.css' %}">
    {% block styles %}
    
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'rooms'%}">Rooms</a></li>
            <li><a href="{% url 'about_us'%}">About Us</a></li>
            <li><a href="{% url 'contact_us'%}">Contact Us</a></li>
            {% if user.is_authenticated == True %}
                <li><a href="{% url 'logout'%}">LogOut</a></li>
                <li><a href="{% url 'profile'%}">Profile</a></li>
            {% else %}
                <li><a href="{% url 'login'%}">Login</a></li>
                <li><a href="{% url 'sign_up'%}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block bodycontent %}
    
    {% endblock %}
</body>
</html>