{% extends "base.html" %}
{% block styles%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_css.css' %}">
{% endblock %}
{% block bodycontent %}
{% for logout_message in messages %}
<div class="error-message">
    <p>{{logout_message}}</p>
</div>
{% endfor %}
{% if message != ''%}
<div class="error-message">
    <p>{{message}}</p>
</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <h1 style="text-align: center; font-size: 1.8rem;">Login</h1>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter password" required>
    <button type="submit">Login</button>
</form>
<div class="container">
    <p>Don't have an account? <a href="{% url 'sign_up'%}">Sign up</a></p>
</div>
{% endblock %}